# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
server/.env

# Build Files
build/
dist/
client/build/

# Logs
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db